.projects-container {
  display: flex;
  flex-wrap: wrap;
}
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f1f5f9;
}
.select {
  width: 50%;
  margin-left: 30px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #475569;
  outline: none;
  cursor: pointer;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.failure-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.failure-img {
  width: 60%;
}
.warning {
  color: #475569;
  font-weight: bold;
}
.text {
  color: #cbd5e1;
  color: #475569;
}
.retry {
  background-color: #328af2;
  padding: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  color: #ffffff;
  border-radius: 10px;
}
